// @media screen and (max-width: 667px) {
//   body {
//       overflow-x: hidden !important;
//   }
//   .container {
//       max-width: 100% !important;
//       overflow-x: hidden !important;
//   }
// }
.dash {
  border-radius: 30px;
  background: linear-gradient(145deg, #E2EDFB, #f0f0f0);
  // background: linear-gradient(145deg, #EEF0F4, #f0f0f0);
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
