<div class="banner">
  <div class="container">
    <div class="text-box d-flex">
      <h1>Get paid. Fast</h1>
      <p>Digitsing payment for those who need it.</p>
    </div>
    <% if user_signed_in? %>
      <div class="btn-wrapper d-none">
      <a class="btn btn-flat" href="<%= new_user_session_path %>">Login</a>
      <span class="btn-subtext">No account? Sign up!</span>
    <% else %>
      <div class="btn-wrapper">
      <a class="btn btn-flat" href="<%= new_user_session_path %>">Login</a>
      <span class="btn-subtext">No account? Sign up!</span>
    <% end %>
    </div>
  </div>
</div>
