<<<<<<< HEAD

<div class="d-flex justify-content-around footer"><i class="fa-regular fa-circle-user"></i><h3 class="">PaidFast</h3><i class="fa-regular fa-bell"></i></div>
=======
  <footer class="border">

    <div class="d-flex p-1 justify-content-between align-items-center">

      <div class="d-flex p-1 align-items-center justify-content-center">
        <%= link_to "/" do %>
            <h2 class="text-center"><i class="fa-solid fa-house"></i></h2>
            <h5 class="text-center">Home</h5>
        <% end %>
      </div>

      <div class="d-flex p-1 align-items-center justify-content-center">
        <%= link_to "/transactions" do %>
            <h2 class="text-center"><i class="fa-solid fa-receipt"></i></h2>
            <h5 class="text-center">Receive</h5>
        <% end %>
      </div>

      <div class="d-flex p-1 align-items-center justify-content-center">
        <%= link_to "/qr-code" do %>
            <h2 class="text-center"><i class="fa-solid fa-qrcode"></i></h2>
            <h5 class="text-center">QR Code</h5>
        <% end %>
      </div>

      <div class="d-flex p-1 align-items-center justify-content-center">
        <%= link_to "#" do %>
            <h2 class="text-center"><i class="fa-solid fa-gear"></i></h2>
            <h5 class="text-center">Settings</h5>
        <% end %>
      </div>

    </div>


  </footer>
>>>>>>> master
