  <footer class="">

  <%= link_to "/" do %>
  <button class="btn btnfooter">
   <span class="fa-solid fa-house ">
  </span>
        <% end %>
  </button>
  <%= link_to "/transactions" do %>
  <button class="btn btnfooter">
    <span class="fa-solid fa-receipt">
  </span>
        <% end %>
  </button>
   <%= link_to "/qr-code" do %>
    <button class="btn btnfooter">
      <span class="fa-solid fa-qrcode">
  </span>
        <% end %>

  </button>

  </footer>
