  <footer class="">

  <button class="btn btnfooter">
  <%= link_to "/" do %>
   <span class="fa-solid fa-house ">
  </span>
        <% end %>
  </button>

  <button class="btn btnfooter">
     <%= link_to "/transactions" do %>
    <span class="fa-solid fa-receipt">
  </span>
        <% end %>
  </button>

    <button class="btn btnfooter">
      <%= link_to "/qr-code" do %>
      <span class="fa-solid fa-qrcode">
  </span>
        <% end %>

  </button>

    <button class="btn btnfooter">
     <%= link_to "#" do %>
      <span class="fa-solid fa-gear">
  </span>
         <% end %>
  </button>

  </footer>
