  <footer class="">

  <button class="btn btnfooter">
  <%= link_to "/dashboard" do %>
   <span class="fa-solid fa-chart-line">
  </span>
        <% end %>
  </button>
  <%= link_to "/transactions" do %>
  <button class="btn btnfooter">
    <span class="fa-solid fa-receipt">
  </span>
        <% end %>
  </button>
   <%= link_to "/qr-code" do %>
    <button class="btn btnfooter">
      <span class="fa-solid fa-qrcode">
  </span>
        <% end %>

  </button>

  </footer>
