<div class="banner">
  <div class="container d-flex align-items-end h-100">
    <div class="text-box w-100">
      <div class="d-flex">
      <h1 class="color"><strong>Get Paid. </strong></h1>
      <h1 class="color2" data-controller="typed-js"></h1>
      </div>
      <p>Digitising payments for those who need it.</p>

      <%= link_to dashboard_path, class: "btn homebutton mt-2 w-100" do %>
        <div class="d-flex justify-content-center pr-3">
          <%= image_tag("logoqr.png", width: 30) %>
          <span class="buttontext"><strong> Get started </strong></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
