.carddash {
  width: 190px;
  height: 150px;
  border-radius: 30px;
  background: linear-gradient(145deg, #E2EDFB, #f0f0f0);
  color: #480CA8;
  font-weight: 500;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
