header {
  // background-color: #EEF0F4;
  background-color: #E2EDFB;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border: none;
  padding-bottom: 5px;
}
header i {
  font-size: 1.5em;
  color: #7375D2;
  padding: 5px;
}

header h2 {
  color: #2a2a2a;
}
.dropdown-item  {
  //background: linear-gradient(145deg, #E2EDFB, #f0f0f0) !important;
  // background: linear-gradient(145deg, #EEF0F4, #f0f0f0) !important;
  //border: 2px, solid, #373131 !important;
  //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
 //

}
.nmstyle  {
  overflow: hidden;
  border-radius: 17px;
  background: white;
  box-shadow: 9px 9px 26px #9d9d9d,
             -9px -9px 26px #ffffff;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #7209b7;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.header2 {
  // background-color: #EEF0F4;
  background-color: #516DF9;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  border: none;
  padding-bottom: 5px;
}

.header2 i {
  font-size: 1.5em;
  color: #fefefe;
  padding: 5px;
}
