 <div class="container my-3">
    <div class="cardtransaction mx-auto">
      <div class="card-body ">
        <div class="">
            <div class="">
              <div><%= @transaction.customer_name %></div>
              <div><p class="text-secondary"><%= @transaction.timestamp %><p></div>
            </div>
          <div><%= humanized_money_with_symbol(@transaction.price) %></div>
        </div>
         <% if @transaction.status %>
            <h1 class="mb-0 text-success"><i class="fa-regular fa-circle-check"></i></h1>
          <% else %>
            <h1 class="mb-0 text-danger"><i class="fa-solid fa-hourglass-half"></i></h1>
          <% end %>
      </div>
    </div>
  </div>
